$font-main: 'Montserrat', sans-serif;

$color-green: #92A134;
$color-bg-light: #FFFFF1;
$color-text: #424436;
$color-white: white;
$color-border: #DDDDDD;


$transition: all 0.3s ease;

$desktop: 1200px;
$tablet: 768px;
$mobile: 480px;